<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="form-container">
            <div class="form-group">
                <input type="number" placeholder="user_id" v-model="user_id">
            </div>
            <div class="form-group">
                <input type="text" placeholder="title" v-model="title">
            </div>
            <div class="form-group">
                <textarea name="" id="" rows="5" placeholder="description" v-model="description"></textarea>
            </div>
            <div class="form-group">
                <input type="number" placeholder="status" v-model="status">
            </div>
            <div class="form-group">
                <button type="button" @click="addTodo" v-if="!isHidden">Add Todo</button>
                <button type="button" @click="updateTodo" v-if="isHidden">Update Todo</button>
            </div>
        </div>
        <section class="container">
            <div class="card" v-for="(todo, index) in todos" :key="index"  v-if="todo.status">
                <div class="card-title">
                    <h1>{{todo.title}}</h1>
                </div>
                <div class="card-body">
                    <p>{{todo.description}}</p>
                </div>
                <div class="card-footer">
                    <p>{{todo.created_at}}</p>
                </div>
                <div class="method">
                    <button type="button" @click="removeTodo(todo.id)">Remove</button>
                    <button type="button" @click="editTodo(todo)">Edit</button>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

new Vue({
    el: '#app',
    data: {
        todos: [],
        user_id: null,
        title: '',
        description: '',
        status: null,
        id: null,
        updateId: null,
        isHidden: false
    },
    methods: {
        getTodos(){
            let url = "http://localhost:3000/api/books";
            axios.get(url).then(response => {
                this.todos = response.data.data
            });
        },
        addTodo(){
            // const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
            // const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            // const current = new Date();
            // const suffix = current.getHours() >= 12 ? "PM":"AM";
            // const hours = ((current.getHours() + 11) % 12 + 1)
            // const date = current.getDay()+' '+(days[current.getDay()])+' '+(month[current.getMonth()])+' '+current.getFullYear();
            // const time = hours + ":" + current.getMinutes() + " " + suffix;
            // const dateTime = date +' | '+ time;
            let newTodo = {user_id: parseInt(this.user_id), title: this.title, description: this.description, status: parseInt(this.status)};
            let url = "http://localhost:3000/api/books";
            axios.post(url,newTodo).then(response => {
                window.location.reload();
            });
            
        },
        removeTodo(id){
            let url = "http://localhost:3000/api/books";
            axios.delete(url+"/"+id).then(response => {
                window.location.reload();
            });
        },
        editTodo(todo){
            this.user_id = todo.user_id;
            this.title = todo.title;
            this.description = todo.description;
            if (todo.status){
                this.status = 1
            }
            this.updateId = todo.id
            this.isHidden = true
            
        },
        updateTodo(){
            let url = "http://localhost:3000/api/books";
            let body = {user_id: parseInt(this.user_id), title: this.title, description: this.description, status: parseInt(this.status)}
            axios.put(url+"/"+this.updateId,body).then(response => {
                window.location.reload();
            });
            this.isHidden = false
        }
    },
    mounted() {
        this.getTodos();
    }
})
</script>
</html>