<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="form-container">
            <div class="form-group">
                <input type="number" placeholder="author_id" v-model="author_id">
            </div>
            <div class="form-group">
                <input type="text" placeholder="title" v-model="title">
            </div>
            <div class="form-group">
                <textarea name="" id="" rows="5" placeholder="body" v-model="body"></textarea>
            </div>
            <div class="form-group">
                <button type="button" @click="addbook" v-if="!isHidden">Add book</button>
                <button type="button" @click="updatebook" v-if="isHidden">Update book</button>
            </div>
        </div>
        <section class="container">
            <div class="card" v-for="(book, index) in books" :key="index">
                <div class="card-title">
                    <h1>{{book.title}}</h1>
                </div>
                <div class="card-body">
                    <p>{{book.body}}</p>
                </div>
                <div class="card-footer">
                    <p>{{book.created_at}}</p>
                </div>
                <div class="method">
                    <button type="button" @click="removebook(book.id)">Remove</button>
                    <button type="button" @click="editbook(book)">Edit</button>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

new Vue({
    el: '#app',
    data: {
        books: [],
        author_id: null,
        title: '',
        body: '',
        id: null,
        updateId: null,
        isHidden: false,
        url: "http://localhost:3000/api/books"
    },
    methods: {
        getbooks(){
            axios.get(this.url).then(response => {
                this.books = response.data
                // console.log(response.data);
            });
        },
        addbook(){
            // const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
            // const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            // const current = new Date();
            // const suffix = current.getHours() >= 12 ? "PM":"AM";
            // const hours = ((current.getHours() + 11) % 12 + 1)
            // const date = current.getDay()+' '+(days[current.getDay()])+' '+(month[current.getMonth()])+' '+current.getFullYear();
            // const time = hours + ":" + current.getMinutes() + " " + suffix;
            // const dateTime = date +' | '+ time;
            let newbook = {author_id: parseInt(this.author_id), title: this.title, body: this.body};
        
            axios.post(this.url,newbook).then(response => {
                window.location.reload();
            });
            
        },
        removebook(id){
            
            axios.delete(this.url+"/"+id).then(response => {
                window.location.reload();
            });
        },
        editbook(book){
            this.author_id = book.author_id;
            this.title = book.title;
            this.body = book.body;
            this.updateId = book.id
            this.isHidden = true
            
        },
        updatebook(){
    
            let body = {author_id: parseInt(this.author_id), title: this.title, body: this.body}
            axios.put(this.url+"/"+this.updateId,body).then(response => {
                window.location.reload();
            });
            this.isHidden = false
        }
    },
    mounted() {
        this.getbooks();
    }
})
</script>
</html>